<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All employees</title>
</head>
<body>
<!--th:each - подобие foreach для прохода по всем элементам коллекции и выводе-->
<!--people - временная переменная, ${people}" - название коллекции-->
<div th:each="employee : ${employees}">
  <!--        th:text - выводит названия-->
  <!--        th:href - создаём ссылку с возможностью перехода по ней-->
  <!--    указываем ссылку для перехода по пути /people/id(который мы получаем из нашей коллекции через геттер)-->
  <!--    при нажатии на ссылку мы переходим в show-->
  <a th:href="@{/employees/{id}(id=${employee.getId()})}"
     th:text="${employee.getLastName() + ', ' + employee.getJobTitle()}">employee</a>
</div>
<!--новая строка-->
<br/>
<!--полоса-->
<hr/>

<a href="/people/new">Create new employee</a>

</body>
</html>